*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
   }
.v-align{
    vertical-align: middle;
}
.container{
    width: 1200px;
    margin: 150px auto 0 auto;
}
.container>h1{
    margin-bottom: 40px;
}
.row{
    padding: 30px 0 0 0;
}
.button{
    padding: 8px 20px;
    color: white;
    background-color: #0063ff;
    font-size: 15px;
    display: inline-block;
}
.white-button{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.table{
    border: 1px solid #d8d8da;
    height: 900px;
}
.table>div:first-of-type{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #d8d8da;
}
.table-content{
    margin: 30px 20px;
}
.price{
    margin-top: 20px;
    font-weight: bold;
    line-height: 20px;
}
.price span{
    font-size: 12px;
    font-weight: 400;
    color: #cdd4d8;
}
.box{
    width: calc(100% / 3 - 30px);
}
.central-box{
    width: calc(100% / 3 + 30px);
    padding: 0 30px;
}
.box-img img{
    width: 100%;
}
.box-txt p{
    margin: 30px 0 40px 0;
}
.box-txt p span{
    text-decoration: underline;
}
.box>.client{
    width: 50%;
    height: 250px;
    position: relative;
}
.box>.client img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    color: white;
    background: #000;
    padding: 60px 200px;
}


/* end utility */



header{
    background: #add1ea;
}
.navbar{
    background: white;
    padding: 15px;
}
.navbar ul{
    list-style: none;
    display: inline-block;
}
.navbar ul li {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black
}
.navbar ul li a:hover {
    text-decoration: underline;
}
#logo{
    width: 100px;
}
header>div:first-of-type{
    max-width: 1400px;
    margin: 60px auto;
}
.jumbotron-title{
    margin-bottom: 30px;
    font-size: 35px;
}
.jumbotron-txt{
    max-width: 350px;
    font-size: 15px;
    font-weight: 400;
}
.jumbotron-txt p{
    margin-bottom: 20px;
}
.jumbotron-txt>div:nth-child(3){
    margin: 10px 0 20px 0;
}
.jumbotron-txt>div:nth-child(4){
    font-size: 50px;
}
.jumbotron-img{
    width: 1050px;
    padding: 0px 150px;
    margin-bottom: -100px;
}
.jumbotron-img img{
    width: 100%;
}

.table-content ul{
    font-weight: 400;
    list-style: none;
}
.table-content ul li{
    margin: 25px 0;
}
.table-content>div:last-of-type{
    font-weight: 400;
    margin: 20px 0;
}
.table-content hr{
    width: 50px;
    border-color: #cdd4d8;
}
.table-content h3{
    margin: 30px 0;
}
.professional{
    padding-left: 1.3em;
}
.professional li:first-child::before{
    content: "\f007";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.professional li:nth-child(2)::before{
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.professional li:last-child::before{
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.standard{
    padding-left: 1.3em;
}
.standard li:first-child::before{
    content: "\f234";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.standard li:nth-child(2)::before{
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.standard li:last-child::before{
    content: "\f118";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.advanced{
    padding-left: 1.3em;
}
.advanced li:first-child::before{
    content: "\f234";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.advanced li:nth-child(2)::before{
    content: "\f118";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.advanced li:last-child::before{
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
}
.punti-salienti{
    padding-left: 1.3em;
}
.table-content .punti-salienti li:before {
    content: "\f00c";
    color: #0063ff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: -1.3em;
    width: 1.3em;
  }
  .contact-option{
    border: 1px solid #cdd4d8;
    margin-top: 40px;
  }
  .contact-option>div:first-child{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #cdd4d8;
  }
  .contact-option .button{
    margin: 20px;
  }
  .dropbox-partner .row>div{
    width: 50%;
  }
  .dropbox-partner .row>div:first-child img{
    width: 100%;
  }
  .dropbox-partner .row>div:last-child{
    padding: 60px;
  }
  .dropbox-partner .row>div:last-child p{
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
}
.dropbox-partner .button{
    margin: 40px 0;
}
#client-title{
    max-width: 500px;
}
.client-box-1, .client-box-2{
    width: 30%;
}
.client-box-1>.client:nth-of-type(1){
    background: #caeacb;
}
.client>div{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #94d595;
}
.client-box-1>.client:nth-of-type(2){
    background: #6b002b;
}
.client-box-1>.client:nth-of-type(3){
    background: #0096d3;
}
.client-box-1>.client:nth-of-type(4){
    background: #ff0000;
}
.designit-box{
    width: 40%;
    height: 500px;
    background: #f5f5f5;
    padding: 30px;
}
.client-box-2>.client:nth-of-type(1){
    background: #e90006;
}
.client-box-2>.client:nth-of-type(2){
    background: #add1ea;
}
.client-box-2>.client:nth-of-type(3){
    background: #022486;
}
.client-box-2>.client:nth-of-type(4){
    background: #ffd600;
}
.designit-box img{
    width: 150px;
}
.designit-box hr{
    width: 50px;
    color: grey;
    margin: 30px 0 40px 0;
}
#free-trial{
    height: 350px;
    background: #add1ea;
    position: relative;
}
#free-trial>div{
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#free-trial h1{
    color: #6b002b;
    max-width: 400px;
    font-size: 36px;
}
#free-trial .white-button{
    border: none;
}
.question{
    padding: 40px 0;
    border-bottom: 1px solid #cdd4d8;
}
.question:first-of-type{
    border-top: 1px solid #cdd4d8;
}
#free-trial + .container{
    margin-bottom: 100px;
}
.question>div:last-child{
    margin-right: 30px;
}
footer ul{
    list-style: none;
}
footer ul li{
    margin-bottom: 10px;
    font-size: 12px;
}
footer .row>div{
    margin-right: 100px;
}
footer .row div>h1{
    font-size: 20px;
    margin-bottom: 20px;
}
footer>hr{
    border-color: #fff;
    width: 100px;
    margin: 100px 0 40px 0;
}
footer>div:last-child{
    font-size: 12px;
    font-weight: 200;
}