*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
   }
.v-align{
    vertical-align: middle;
}
.navbar ul{
    display: inline-block;
}
.navbar ul li {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black
}
.button{
    padding: 8px 20px;
    color: white;
    background-color: #0063ff;
    font-size: 15px;
    display: inline-block;
}
/* end utility */



header{
    background: #add1ea;
}
.navbar{
    background: white;
    padding: 15px;
}
.navbar ul{
    list-style: none;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
#logo{
    width: 100px;
}
header>div:first-of-type{
    max-width: 1400px;
    margin: 60px auto;
}
.jumbotron-title{
    margin-bottom: 30px;
    font-size: 35px;
}
.jumbotron-txt{
    max-width: 350px;
    font-size: 15px;
    font-weight: 400;
}
.jumbotron-txt p{
    margin-bottom: 20px;
}
.jumbotron-txt>div:nth-child(3){
    margin: 10px 0 20px 0;
}
.jumbotron-txt>div:nth-child(4){
    font-size: 50px;
}
.jumbotron-img{
    width: 1050px;
    padding: 0px 150px;
    margin-bottom: -100px;
}
.jumbotron-img img{
    width: 100%;
}